@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: url("../public/assets/cover.svg");
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
