@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: url("../public/assets/weather-icons/noa.jpg");
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
